<html>
<div>
<body>

	<h1>Create a new shopping item information.</h1>
 	<form action = "/create" method = "POST">

	<label for = "name"><b>Shpping cart ID*:</b></label><br>
	<input type = "text" id = "name" name = "name" placeholder = ""><br><br>

	<label for = "name"><b>Shpping item name*:</b></label><br>
	<input type = "text" id = "name" name = "name" placeholder = ""><br><br>

	<label for = "price"><b>Price*: </b></label><br>
	<input type = "number" id = "price" name = "price" placeholder = ""><br><br>
	<small> Format: The price only used in number.</small><br><br>

	<label for = "quantity"><b>Quantity*: </b></label><br>
	<input type = "number" id = "quantity" name = "quantity" placeholder = ""><br><br>

	<small> Format: The range of quantity is 0 to 999.</small><br><br>

	</p>
	<input type = "submit" value = "Create" />

</form>
</body>
</div>
</html>
