<html>

<body>
	<h1> Welcome to the shopping cart!</h1>
	</div>
	<form action = "/login" method = "post">
	<label for = 'Username'><b> Username: </b><label><br>
	<input type = "text" id = "Account" name = "username" placeholder = ""><br><br>
	<label for = 'Password'><b> Password: </b></label><br>
	<input type = "password" id = "password" name = "password" placeholder = ""><br><br>
	<button type = "submit">Login</button>
</form>
</body>

</html>
