<html>
<body>

	<form action = "/search" method = "POST">
	<label for = "sc_id"><b>Please input shopping cart ID:</b></label><br>
	<input type = "text" id = "sc_id" name = "sc_id" placeholder = "Enter the shopping cart ID" pattern = "[0-9]{3}"><br>
	<small>Format: scxxx</small><br>
	<input type = "submit" value = "Search" />
	<p><a href='/home'> Back to the home page. </a></p>
	
</body>
</html>

